<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
<div class="menu"><?php echo $this->Html->image('hmbrg.png', array('alt' => 'img')) ?> </div>

<nav id="nav">
<div class="menu menu2"> <img src="img/close.png"> </div>
  <div class="logoimg"><img src="img/logo.webp" style="max-width: 200px;margin-bottom:30px;"></div>

  <ul class="main">
    <li> <a href="#intro" >Home</a></li>
    <li> <a href="#about">About Us</a></li>
    <li><a href="#service" >Services</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li> <a href="#contact">Contact</a></li>
    
  </ul>
</nav>

