<table cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #f4511e;">
<tr style="border:1px solid #000000;background-color:#f4511e;color:#ffffff;width:100%;text-align:center;">
   <th style="color: #ffffff;"><h4>Techzapp</h4></th>
</tr>
 <tr>
  <td width="260" valign="top">
   <table  cellpadding="0" cellspacing="0" width="100%" style="margin-left:20px;padding:15px;">
 <tr>
        <td style="min-width:200px"><b>Fullname : </b></td>
        <td style="padding:10px"><?php echo ucfirst($fullname); ?></td>
    </tr>

     <tr>
        <td><b>Job Position : </b></td>
        <td style="padding:10px"><?php echo $job_position; ?></td>
    </tr>
     <tr>
        <td><b>Resume : </b></td>
        <td style="padding:10px"><?php echo $resume; ?></td>
    </tr>
     <tr>
        <td><b>Message : </b></td>
        <td style="padding:10px"><?php echo ucfirst($message); ?></td>
    </tr>

   </table>
  </td>
 
  
 </tr>
 <tr style="border:2px solid #000000;background-color:#dddddd;width:100%;text-align:center;">
    <th><p>Techzapp Solutions All rights reserved.</p></th>
</tr>
</table>