<div id="<?php echo h($key) ?>" class="flash-message-failure">
  <?php echo ucwords($message); ?>
  <a href="javascript:void(0)" class="closer" onclick="closer()" style="float:right;padding: 0;">×</a>
</div>

<style type="text/css">
  div.flash-message-failure {
width: 100%;
color: #fff;
background: red;
margin-left: 0px;
font-size: 17px;
padding: 10px;
text-align: center;
}
</style>
<script type="text/javascript">
	function closer() {
    document.getElementById("<?php echo h($key) ?>").style = "display:none";
}
</script>