<div id="<?php echo h($key) ?>" class="flash-message-success">
  <?php echo ucwords($message); ?>
 <!--  <a href="javascript:void(0)" class="closer" onclick="closer()" style="float:right;padding: 0;">×</a> -->
</div>

<style type="text/css">
  div.flash-message-success {
width: 100%;
color: #fff;
background: #f4511e;
margin-left: 0px;
font-size: 17px;
padding: 10px;
text-align: center;
}
</style>
<script type="text/javascript">
// 	function closer() {
//     document.getElementById("<?php echo h($key) ?>").style = "display:none";
// }
$(document).ready(function(){
    $(".flash-message-success").delay(4000).slideUp(500);
});
</script>