html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666666;
    font-family: 'Montserrat';
    font-size: 15px;
}

.headertext {
    position: absolute;
    top: 26%;
    text-align: center;
    color: #ffffff;
}

video {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.headertext h2 {
    font-size: 4.5vw;
}

@media only screen and (max-width: 400px) {
    .headertext {
        position: absolute;
        top: 50px;
        text-align: center;
        color: #ffffff;
    }
    .menu {
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 21;
        left: 7%!important;
    }
    .service .wrap1,
    .wrap2,
    .wrap3,
    .wrap4,
    .wrap5,
    .wra61 {
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .headertext {
        position: absolute;
        top: 50px;
        text-align: center;
        color: #ffffff;
    }
    .menu {
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 21;
        left: 7%!important;
    }
    .service .wrap1,
    .wrap2,
    .wrap3,
    .wrap4,
    .wrap5,
    .wrap6 {
        height: auto!important;
    }
}

a {
    color: #e91e63;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #e91e63;
    outline: none;
    text-decoration: none;
}


/* Sidebar menu start */

.menu {
    position: fixed;
    z-index: 20;
    left: 2%;
    top: 10px;
}

.menu2 {
    position: fixed;
    z-index: 999;
    left: 8%;
    top: 10px;
}

.menu span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.menu span,
.menu span::before,
.menu span::after {
    display: block;
    width: 26px;
    left: 0;
    height: 3px;
    background-color: #e91e63;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu span::before,
.menu span::after {
    position: absolute;
    content: "";
}

.menu span::before {
    top: -9px;
    width: 20px
}

.menu span::after {
    top: 9px;
    width: 33px;
}

.menu.clicked span {
    background-color: transparent;
}

.menu.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
    width: 33px;
}

.menu.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.menu.clicked span:before,
.menu.clicked span:after {
    background-color: #ea2163;
}

.menu:hover {
    cursor: pointer;
}


/*  NAV
========================================== */

#nav {
    background: #f5f5f5;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 250px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.menu.clicked {
    position: fixed;
    z-index: 99;
}

#nav.show ul.main li:nth-child(1) {
    transition-delay: 0.15s;
}

#nav.show ul.main li:nth-child(2) {
    transition-delay: 0.3s;
}

#nav.show ul.main li:nth-child(3) {
    transition-delay: 0.45s;
}

#nav.show ul.main li:nth-child(4) {
    transition-delay: 0.6s;
}

#nav.show ul.main li:nth-child(5) {
    transition-delay: 0.75s;
}

#nav.show ul.main li:nth-child(6) {
    transition-delay: 0.9s;
}

#nav.show ul.main li:nth-child(7) {
    transition-delay: 1.05s;
}

#nav.show ul.main li:nth-child(8) {
    transition-delay: 1.2s;
}

#nav.show ul.main li:nth-child(9) {
    transition-delay: 1.35s;
}

#nav.show .about,
#nav.show .social,
#nav.show ul.sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .85s;
}

@media (min-width: 667px) {
    #nav {
        padding: 80px 30px 70px 20px;
    }
}

.logoimg {
    width: 200px;
}

#nav ul.main {
    list-style-type: none;
}

#nav ul.main li {
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: none;
    list-style: circle;
    color: #000
}

#nav ul.main li:last-of-type {
    margin-bottom: 0px;
}

#nav ul.main li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav ul.main li a span {
    color: #e91e63;
    ;
}

#nav ul.main li a:hover {
    color: #e91e63;
}

#nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#nav ul.sub li {
    margin-bottom: 10px;
}

#nav ul.sub li:last-of-type {
    margin-bottom: 0px;
}

#nav ul.sub li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav ul.sub li a:hover {
    color: #b7ac7f;
}

.menu:hover span {}


/* sidebar menu end */


/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #e91e63;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    left: 0px;
    bottom: 15px;
    transition: 0.5s;
    z-index: 9999;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}


/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #f7f7f7;
}

.about h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.about P {
    font-size: 15px;
    line-height: 1.8;
    padding: 20px;
    TEXT-ALIGN: justify;
}



.tab {
    overflow: hidden;
    border: 1px solid #ccc;
 
    width: 100%;
}
.tab button {
    background-color: #f2f2f2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 25%;
}
.tab-content {
   
    padding: 16px 10px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-content {
   
    font-size: 15px;
    line-height: 1.8;
    padding-left: 20px;
    padding-right: 20px;
    TEXT-ALIGN: justify;
}
.tab button:hover {
    background-color: #f8f8f8;
}
.tab .nav-link.active {
    background-color: #e91e63;
    color: #fff;
} 

.service {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url('../img/servicebackground.webp');
    background-size: cover;
    font-family: 'Montserrat';
}

.service h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.service .wrap1 {
    display: flex;
    background: #ef6854;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 270px;
    font-size: 15px;
}

.service .wrap2 {
    display: flex;
    background: #55c0ef;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 270px;
    font-size: 15px;
}

.service .wrap3 {
    display: flex;
    background: #00a65b;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 270px;
    font-size: 15px;
}

.service .wrap4 {
    display: flex;
    background: #ec3b83;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 270px;
    font-size: 15px;
}

.service .wrap5 {
    display: flex;
    background: #0073b7;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 270px;
    font-size: 15px;
}

.service .wrap6 {
    display: flex;
    background: #a66db7;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 270px;
    font-size: 15px;
}

.service .ico-wrap {
    margin: auto;
}

.service .mbr-iconfont {
    font-size: 4.5rem !important;
    color: #ffffff;
    margin: 1rem;
    padding-right: 1rem;
}

.service .vcenter {
    margin: auto;
}

.service .mbr-section-title3 {
    text-align: left;
}

.service h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.service .display-5 {
    font-size: 1.4rem;
}

.service .mbr-bold {
    font-weight: 700;
}

.service p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.service .display-6 {
    font-size: 1re
}

.strategy {
    width: 100%;
    padding-top: 2rem;
}

.strategy h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    ;
}

.strategy img {
    width: 100%;
}

.sectiontech {
    background-color: #f5f5f5;
}

.skills {
    width: 100%;
    padding-top: 2rem;
}

.skills h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    ;
}

.tile-progress {
    background-color: #303641;
    color: #fff;
    height: 210px;
}

.tile-progress {
    background: #00a65b;
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tile-progress .tile-header {
    padding: 15px 20px;
    padding-bottom: 40px;
}

.tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0, 0, 0, 0.18);
    margin: 0;
}

.tile-progress .tile-progressbar span {
    background: #fff;
}

.tile-progress .tile-progressbar span {
    display: block;
    background: #fff;
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.tile-progress .tile-footer {
    padding: 20px;
    text-align: right;
    background: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.tile-progress.tile-red {
    background-color: #f56954;
    color: #fff;
}

.tile-progress {
    background-color: #303641;
    color: #fff;
}

.tile-progress.tile-blue {
    background-color: #0073b7;
    color: #fff;
}

.tile-progress.tile-aqua {
    background-color: #00c0ef;
    color: #fff;
}

.tile-progress.tile-green {
    background-color: #00a65a;
    color: #fff;
}

.tile-progress.tile-cyan {
    background-color: #00b29e;
    color: #fff;
}

.tile-progress.tile-purple {
    background-color: #ba79cb;
    color: #fff;
}

.tile-progress.tile-pink {
    background-color: #ec3b83;
    color: #fff;
}


/* Featured Services Section
--------------------------------*/

#featured-services {
    background: #000;
}

#featured-services .box {
    padding: 30px 20px;
}

#featured-services .box-bg {
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
    color: #e91e63;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
}

#featured-services h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
}

#featured-services h4 a {
    color: #fff;
}

#featured-services h4 a:hover {
    color: #e91e63;
}

#featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
}


/* Facts Section
--------------------------------*/

#facts {
    background: url("../img/uttrakhand.webp") center top no-repeat fixed;
    background-size: cover;
    padding: 40px 0 0 0;
    position: relative;
}

#facts::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
}

#facts .container {
    position: relative;
    z-index: 10;
}

#facts .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #e91e63;
}

#facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #111;
}

#facts .facts-img {
    text-align: center;
    padding-top: 30px;
}


/* Portfolio Section
--------------------------------*/

#portfolio {
    width: 100%;
}

#portfolio .section-header {
    margin-top: 50px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #111;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #e91e63;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eee;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #e91e63;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    background: #555;
}

#footer .footer-top h4::after {
    background: #e91e63;
    width: 60px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: #e91e63;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #e91e63;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e91e63;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}


/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}


/*--------------------------------------------------------------
# Responsive Media Queries end
--------------------------------------------------------------*/

.row {
    width: auto;
}

.contact h4 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.slideanim {
    visibility: hidden;
    visibility: visible\5;
    /*For old IE browsers IE6-8 */
}

.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

canvas {
    background: url('../img/particlesbg.webp');
    background-size: cover;
}

.text {
    text-align: center;
    position: absolute;
    padding-top: 20%;
    color: #fff;
}

.text h1 {
    font-size: 3vw;
}

.text a {
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e91e63;
    padding: 15px 25px;
}

.provide h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.provide P {
    font-size: 15px;
    line-height: 1.8;
    padding-left: 20px;
    padding-right: 20px;
    TEXT-ALIGN: justify;
}

.whatwedo h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.whatwedo P {
    font-size: 15px;
    line-height: 1.8;
    padding-left: 20px;
    padding-right: 20px;
    TEXT-ALIGN: justify;
}

.whatwedo li {
    font-size: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    TEXT-ALIGN: justify;
}

form .error {
    background-color: transparent;
    color: red;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif") center no-repeat #fff;
}

.delighter.right {
    transform: translate(-100%);
    opacity: 0;
    transition: all .75s ease-out;
}

.delighter.right.started {
    transform: none;
    opacity: 1;
}

.delighter li {
    opacity: 0;
    transform: translatey(400%);
    transition: all .7s ease-out;
}

.delighter.started li {
    opacity: 1;
    transform: none;
}

.delighter.started li:nth-child(1) {
    transition: all .7s ease-out .1s;
}

.delighter.started li:nth-child(2) {
    transition: all .7s ease-out .3s;
}

.delighter.started li:nth-child(3) {
    transition: all .7s ease-out .5s;
}

.delighter.started li:nth-child(4) {
    transition: all .7s ease-out .7s;
}

.delighter.started li:nth-child(5) {
    transition: all .7s ease-out .9s;
}

.delighter.started li:nth-child(6) {
    transition: all .7s ease-out 1.1s;
}

.delighter.started li:nth-child(7) {
    transition: all .7s ease-out 1.3s;
}

.text_bold {
    font-weight: bold;
    color: #000;
    ;
}

#section3 ::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

.srcolldown a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.srcolldown a:hover {
    opacity: .5;
}

#section03 a {
    padding-top: 60px;
}

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat #fff;
    opacity: .8;
    z-index: 9999999;
}

.opening {
    margin-top: 30px;
    margin-bottom: 30px;
}

.opening h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.job {
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.job_title {
    width: 100%;
    background: #ea2163;
    color: #fff;
}

.job_title h5 {
    padding: 10px;
    font-size: 15px;
}

.modal h4 {
    font-size: 15px;
}

.job_description {
    padding: 15px;
}
.job_description p {
    font-size: 15px;
    line-height: 1.8;
}
.job_description li{
    font-size: 15px;
    line-height: 1.8;
}

.careerintro h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.careerintro {
    margin-top: 30px;
    margin-bottom: 30px;
}

.careerintro a {
    color: #000000;
    font-weight: bold;
}

.technology h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

.why-us {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background: url("../img/hero-bg.jpg") center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.why-us .card {
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.why-us .card-icon {
    text-align: center;
    margin-top: -32px;
}

.why-us .card-icon i {
    font-size: 32px;
    color: #fff;
    width: 64px;
    height: 64px;
    padding-top: 10px;
    text-align: center;
    background-color: #ea2163;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    transition: 0.3s;
    display: inline-block;
}

.why-us .card-body {
    padding-top: 12px;
}

.why-us .card-title {
    font-weight: 700;
    text-align: center;
}

.why-us .card-title a {
    color: #743e1d;
}

.why-us .card-title a:hover {
    color: #ea2163;
}

.why-us .card-text {
    color: #5e5e5e;
}

.why-us .card:hover .card-icon i {
    background: #fff;
    color: #ea2163;
}

@media (max-width: 1024px) {
    .why-us {
        background-attachment: scroll;
    }
}

/*ZoomIn Hover Effect*/
.hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }